/* content 시작 */

.content {
	position : relative;
	width : 1400px;
	min-height : 350px;
	background-color : #ffebf0;
}

.content:after {
	content : "";
	display : block;
	clear : both;
}

/* 슬라이드 시작 */

.slide {
	width : 1200px;
	/* border : 1px solid red; */
	min-height : 2100px;
	/* background-color : #f9a0c1; */
}

.first {
	margin-top : 5%;
	float : left;
	width : 1200px;
	/* height : 350px; */
	/* background-color : #fff; */
	padding : 20px;
}

.first h2 {
	line-height : 50px;
	border-bottom : 1px solid black;
	font-size : 2em;
}

.first ul {
	margin-top : 10px;
	width : 1200px;
	/* padding : 10px 10px; */
	/* border : 1px solid red; */
}

.first ul li {
	float : left;
	margin-top : 15px;
	margin-left : 15px;
}

.first ul li h4 {
	margin-right : 5em;
	float : left;
	font-size : 1.6em;
}

.first ul li p {
	float : left;
	margin-right : 10em;
	font-size : 1.4em;
}

.first ul li .day {
	position : relative;
	top : -25px; left : 25em;
	width : 500px;
	/* width : 200px; */
	/* border : 1px solid red; */
	float : right;
}

.first ul li p:hover {
	text-decoration : underline;
	color : #ff80ab;
	cursor : pointer;
}

/* second */

.second {
	margin-top : 5%;
	float : left;
	width : 1200px;
	/* height : 350px; */
	/* background-color : #fff; */
	padding : 20px;
}

.second h2 {
	line-height : 50px;
	border-bottom : 1px solid black;
	font-size : 2em;
}

.tg {
	width : 1200px;
	/* margin-left : 5em; */
	margin-top : 10px;
	border-collapse:collapse;
	border-color:#9ABAD9;
	border-spacing:0;
	text-align : center;
}
.tg td {
	background-color:#ffebf0;
	border-color:pink;
	border-style:solid;
	border-width:1px;
	color:#444;
	font-family:Arial, sans-serif;
	font-size:18px;
	overflow:hidden;
	padding:15px 10px;
	word-break:normal;
	font-weight : bold;
}

.tg th {
	width : 300px;
	background-color:#ff80ab;
	border-color:pink;
	border-style:solid;
	border-width:1px;
	color:#fff;
	font-family:Arial, sans-serif;
	font-size:24px;
	font-weight:normal;
	overflow:hidden;
	padding:15px 10px;
	word-break:normal;

}

.tg .tg-baqh {
	text-align:center;
	vertical-align:top
}

.tg .tg-amwm {
	font-weight:bold;
	text-align:center;
	vertical-align:top
}


/* thrid */

.thrid {
	margin-top : 5%;
	float : left;
	width : 1200px;
	/* height : 350px; */
	/* background-color : #fff; */
	padding : 20px;
}

.thrid h2 {
	line-height : 50px;
	border-bottom : 1px solid black;
	font-size : 2em;
}

.tg2  {
	width : 1200px;
	/* margin-left : 5em; */
	margin-top : 10px;
	border-collapse:collapse;
	border-color:#9ABAD9;
	border-spacing:0;
	text-align : center;	
}

.tg2 td{
	background-color:#ffebf0;
	border-color:pink;
	border-style:solid;
	border-width:1px;
	color:#444;
	font-family:Arial, sans-serif;
	font-size:18px;
	overflow:hidden;
	padding:15px 10px;
	word-break:normal;
	font-weight : bold;
}
.tg2 th{
	width : 300px;
	background-color:#ff80ab;
	border-color:pink;
	border-style:solid;
	border-width:1px;
	color:#fff;
	font-family:Arial, sans-serif;
	font-size:24px;
	font-weight:normal;
	overflow:hidden;
	padding:15px 10px;
	word-break:normal;
}

.tg2 .tg-baqh2{
	text-align:center;
	vertical-align:top
}

.tg2 .tg-amwm2 {
	font-weight:bold;
	text-align:center;
	vertical-align:top
}

/* fourth */

.fourth {
	margin-top : 5%;
	float : left;
	width : 1200px;
	/* height : 350px; */
	/* background-color : #fff; */
	padding : 20px;
}

.fourth h2 {
	line-height : 50px;
	border-bottom : 1px solid black;
	font-size : 2em;
}

/* .fourth ul { */
	/* margin-top : 10px; */
/* } */

.fourth>ul>li {
	width : 400px;
	/* margin-right : 28px; */
	float : left;
	/* border : 1px solid red; */
	/* margin-left : 25px; */
}

.fourth>ul>li:last-child {
	float : right;
	/* border : 1px solid red; */
}

.fourth:after {
	content : "";
	display : block;
	clear : both;
}

.fourth>ul>li>a>img {
	margin-right : 10px;
	margin-top : 20px;	
	width : 370px;
	transition : transform 1s;
}

.fourth>ul>li>a>img:hover {
	transform : scale(1.07);
	cursor : pointer;
}

.fourth ul li h4 {
	line-height : 30px;
	margin-right : 20px;
	/* border : 1px solid red; */
	margin-top : 10px;
	font-size : 1.4em;
	/* letter-spacing : 1px; */
	text-align : center;
	font-family : "나눔스퀘어";
}

/* fifth */

.fifth {
	margin-top : 5%;
	float : left;
	width : 1200px;
	/* height : 350px; */
	/* background-color : #fff; */
	padding : 20px;
}

.fifth h2 {
	line-height : 50px;
	border-bottom : 1px solid black;
	font-size : 2em;
}

/* 체크박스 UI요소로 만들기 */

.checkbox {
	position : fixed;
	top : 40px;
	right : 40px;
	-webkit-appearance : none;
	/* UI적으로 뒷배경원을 깔아주는역할 */
	width : 80px;
	height : 40px;
	background-color : #ccc;
	border-radius : 20px;
	cursor : pointer;
	outline : none;
}

.checkbox:checked {
	background-color : #3498db;
}

.checkbox::before {
	content : "";
	position : absolute;
	width : 32px;
	height : 32px;
	background-color : #fff;
	border-radius : 20px;
	top : 4px;
	left : 4px;
	transition : .3s linear;
}

.checkbox:checked::before {
	left : 44px;
}

.checkbox:checked + body {
	filter : brightness(20%);
}

.fifth>ul>li {
	margin-top : 40px;
	float : left;
	margin-right : 2em;
}

.fifth>ul>li>p {
	margin-right : 10px;
	border : 1px solid #000;
	border-radius : 25px;
	width : 5px;
	/* height : 30px; */
	text-align : center;
	line-height : 30px;
	padding-right : 25px;
	float : left;
	background-color : #fff;
	/* border : 1px solid red; */
}

.fifth>ul>li>.one:after {
	content : "1";
	/* line-height : 20px; */
	margin-left : 10px;
	font-size : 1.1em;
	font-weight : bold;
}

.fifth>ul>li>.two:after {
	content : "2";
	/* line-height : 20px; */
	margin-left : 10px;
	font-size : 1.1em;
	font-weight : bold;
}

.fifth>ul>li>.three:after {
	content : "3";
	/* line-height : 20px; */
	margin-left : 10px;
	font-size : 1.1em;
	font-weight : bold;
}

.fifth>ul>li>.four:after {
	content : "4";
	/* line-height : 20px; */
	margin-left : 10px;
	font-size : 1.1em;
	font-weight : bold;
}

.fifth ul li h3 {
	line-height : 35px;
	float : left;
	/* border : 1px solid red; */
	margin-left : 10px;
}

.fifth ul li .range {
	margin-left : 30px;
	margin-top : 5px;
	/* margin-right : 50px; */
	/* line-height : 35px; */
	/* border : 1px solid red; */
	float : left;
	width : 200px;
	/* padding : 20px 5px; */ 
	/* height : 200px; */
}

.fifth>ul>.search {
	/* padding-left : 15px; */
	/* border : 1px solid red; */
}
